In [ ]:
id 고유 id
hour 시간
temperature 기온
precipitation 비가 오지 않았으면 0, 비가 오면 1
windspeed 풍속(평균)
humidity 습도
visibility 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)
ozone 오존
pm10 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)
pm2.5 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)
count 시간에 따른 따릉이 대여 수

In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/train.csv')

df.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [14]:
df.shape

(1459, 11)

In [19]:
data_x = df.drop("count",axis=1).fillna(0)
data_x

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0
...,...,...,...,...,...,...,...,...,...,...
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0

In [20]:
data_y = df["count"]
data_y

0        49.0
1       159.0
2        26.0
3        57.0
4       431.0
        ...
1454     21.0
1455     20.0
1456     22.0
1457    216.0
1458    170.0
Name: count, Length: 1459, dtype: float64

In [25]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.30, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1021, 10)
(438, 10)
(1021,)
(438,)

In [29]:
from sklearn.linear_model import LinearRegression
slr = LinearRegression()
lr_x=X_train
slr.fit(lr_x, y_train)
y_pred = slr.predict(lr_x)

In [30]:
slr.coef_

array([-2.77020572e-03,  4.86083787e+00,  5.27082109e+00, -6.18530112e+01,
        4.01243818e+00, -3.52460417e-01,  3.15084029e-03,  3.37253063e+02,
       -3.65851645e-01,  5.77791756e-02])

In [31]:
slr.intercept_

-20.30687821682045

In [34]:
y_predict = slr.predict(X_test)
y_predict.shape

(438,)

In [35]:
result = pd.DataFrame({'Actual' : y_test.values.flatten(), 'Predicted' : y_predict})
result

     Actual   Predicted
0     134.0  158.887757
1      65.0   58.563766
2      67.0   13.520814
3     216.0  188.780285
4      80.0   63.723162
..      ...         ...
433    78.0  142.032371
434    12.0   36.052821
435   133.0  194.445309
436    90.0   34.957852
437   113.0  178.230153

[438 rows x 2 columns]

In [37]:
diff=(result['Actual'] - result['Predicted'])
SE = diff * diff.T
MSE = SE.mean()
print(MSE)

2614.568663276987