In [1]:
id 고유 id
hour 시간
temperature 기온
precipitation 비가 오지 않았으면 0, 비가 오면 1
windspeed 풍속(평균)
humidity 습도
visibility 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)
ozone 오존
pm10 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)
pm2.5 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)
count 시간에 따른 따릉이 대여 수

SyntaxError: invalid syntax (3869936266.py, line 1)

In [60]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/train.csv')

df.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [61]:
df.shape

(1459, 11)

In [62]:
data_x = df.drop("count",axis=1).fillna(0)
data_x

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0
...,...,...,...,...,...,...,...,...,...,...
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0

In [63]:
data_y = df["count"]
data_y

0        49.0
1       159.0
2        26.0
3        57.0
4       431.0
        ...
1454     21.0
1455     20.0
1456     22.0
1457    216.0
1458    170.0
Name: count, Length: 1459, dtype: float64

In [64]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.30, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1021, 10)
(438, 10)
(1021,)
(438,)

In [89]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
slr = LinearRegression()
poly = PolynomialFeatures(degree = 3, interaction_only = True, include_bias=True)
lr_x=poly.fit_transform(X_train)
slr.fit(lr_x, y_train)
y_pred = slr.predict(lr_x)

In [90]:
slr.coef_

array([ 1.22795007e+08,  2.75240749e-01, -2.60943870e+00,  1.90090803e+01,
        4.36183920e-02,  4.35076273e+01,  4.35751541e+00,  6.31617860e-02,
        6.42933093e+03,  4.80305287e+00,  7.85619756e+00,  1.17715241e-02,
       -2.58984325e-02, -1.12776870e+00,  1.14169339e-01, -2.50352687e-03,
       -1.42303574e-04, -3.04363806e+00, -2.85512777e-03,  6.32716331e-04,
        5.68905977e-01, -2.60088847e+00, -3.56143298e+00, -3.63711258e-01,
       -2.00072359e-03, -2.99365175e+02,  1.75885054e-01,  2.65580491e-01,
       -3.21418653e+00, -7.99480104e-01, -8.61057012e-02, -1.48761096e-03,
       -1.64612159e+02, -2.39430053e-01, -1.47017260e-01,  8.97249471e-01,
       -1.27524786e+01,  1.76156272e+00, -2.18811837e-02, -2.50851377e+00,
        3.68506221e+00, -3.81104540e-01,  6.45521536e-03, -2.84205343e+02,
        8.01860184e-03,  1.34443372e+00, -7.00655909e-04, -2.41642755e+01,
        8.99865791e-03, -1.04389207e-01, -1.81184633e+00, -2.02753647e-03,
        3.71823287e-03,  3.02411739e+01, -1.19587647e+02, -1.89271447e-01,
       -5.73902096e-05,  1.52511177e-02, -1.37378053e-03,  1.50836895e-05,
       -2.87617269e-06, -1.13082881e-01,  6.74879244e-05, -1.41972006e-04,
        9.48726867e-02,  4.30506356e-04,  1.06559791e-04,  9.69508284e-06,
        2.28816255e-02,  1.19369034e-04,  3.44792356e-05, -2.19229608e-01,
        4.27668628e-04, -4.92546640e-05,  1.00356127e+01, -7.87415408e-03,
        7.36048903e-03, -4.84333584e-04, -3.03317042e-05, -2.71905119e-01,
       -2.73653665e-04, -4.56874777e-04,  6.61351180e-07,  3.30914867e-02,
       -8.77833150e-06,  1.55262945e-05,  1.57396900e-03,  1.30839721e-06,
       -2.44176337e-06, -1.34031877e-02,  6.93809334e-02,  9.46452201e-06,
       -3.15207810e+00,  2.67950857e-01, -3.33587853e-03,  4.24067446e-05,
        1.48868775e+01, -1.05925339e-02, -1.95468199e-02, -1.32673446e+01,
        6.79664133e-01,  1.32947544e-02, -4.95395018e-01,  9.04206018e-01,
       -1.02127536e+00,  2.23895194e-02, -6.67177617e-04,  5.12679171e+01,
       -2.62369832e-02,  1.39546060e-02,  1.58407358e-04,  1.17745753e+00,
        3.22968068e-04,  4.88260587e-03,  1.41508920e-01, -3.22396021e-05,
       -1.62190385e-04,  9.06743062e-02, -7.03928303e-01,  5.81456590e-04,
        7.35265695e+00,  5.03104477e-01, -8.71127317e-02,  1.94076943e-01,
        1.31760827e-01, -4.78657547e-01, -2.81352579e-02, -1.73768363e-03,
       -4.82739422e+01,  4.14327383e-02,  5.35263398e-02,  3.37658050e-05,
        2.02017960e+00,  3.38437519e-04, -2.47056930e-03, -3.73050407e-02,
       -3.60815142e-05,  2.29145290e-05,  7.30993837e-01, -1.48842361e+00,
        7.19062475e-03,  1.90670731e+00,  4.81282356e-02,  1.09617845e-01,
       -2.05290313e+00,  3.05478618e+00, -7.69969914e-03, -2.72692730e+00,
       -9.14616546e-02,  1.78501608e-01,  3.12759744e-01,  1.07436202e-03,
       -1.70022772e-02, -3.56239457e+00, -1.46049217e-01,  1.17905342e-01,
        1.91369809e-04,  6.54663522e+00,  1.46764421e-03, -1.20125858e-02,
        1.29606107e-01,  1.94774545e-04, -2.26980557e-04, -1.00949223e+01,
        8.85701154e+00, -2.02319181e-02, -3.55645211e-02,  1.22233994e-05,
       -1.47317546e-05, -7.76206460e-01,  5.29725677e-01,  1.15657463e-03,
        1.63664468e-02,  1.40607459e-02,  2.88846775e-06,  3.83169541e-01])

In [91]:
slr.intercept_

-122795373.47114292

In [92]:
y_predict = slr.predict(poly.fit_transform(X_test))
y_predict.shape

(438,)

In [93]:
result = pd.DataFrame({'Actual' : y_test.values.flatten(), 'Predicted' : y_predict})
result

     Actual   Predicted
0     134.0  197.567650
1      65.0   34.626315
2      67.0  -53.726982
3     216.0  233.656523
4      80.0  -13.548582
..      ...         ...
433    78.0  122.502625
434    12.0   54.976602
435   133.0  283.295598
436    90.0  -35.320680
437   113.0  193.143852

[438 rows x 2 columns]

In [94]:
diff=(result['Actual'] - result['Predicted'])
SE = diff * diff.T
MSE = SE.mean()
print(MSE)

10742.560153188966